.metadata/.lock
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/2/5/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/2/5/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/0201/2017/2/5/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/0201/2017/2/5/refactorings.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_14.fdt
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_14.fdx
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_14.frq
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.user-pc_123/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.user-pc_123/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.user-pc_123/node.properties
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1329805392.index
.metadata/.plugins/org.eclipse.jdt.core/3643810303.index
.metadata/.plugins/org.eclipse.jdt.core/3703449438.index
.metadata/.plugins/org.eclipse.jdt.core/3721181054.index
.metadata/.plugins/org.eclipse.jdt.core/3726721386.index
.metadata/.plugins/org.eclipse.jdt.core/3882160207.index
.metadata/.plugins/org.eclipse.jdt.core/4135987611.index
.metadata/.plugins/org.eclipse.jdt.core/4145966885.index
.metadata/.plugins/org.eclipse.jdt.core/449440424.index
.metadata/.plugins/org.eclipse.jdt.core/543038442.index
.metadata/.plugins/org.eclipse.jdt.core/68641151.index
.metadata/.plugins/org.eclipse.jdt.core/839976263.index
.metadata/.plugins/org.eclipse.jdt.core/843494433.index
.metadata/.plugins/org.eclipse.jdt.core/858882092.index
.metadata/.plugins/org.eclipse.jdt.core/91472061.index
.metadata/.plugins/org.eclipse.jdt.core/94398750.index
.metadata/.plugins/org.eclipse.jdt.core/97367919.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_14.fnm
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_14.nrm
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_14.prx
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_14.tii
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_14.tis
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_15.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_16.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_17.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_18.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/_19.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/segments.gen
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/segments_17
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/0201/write.lock
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1654467137.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/188585747.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3024598492.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3345053171.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3840024176.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.web.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Tomcat v8.0 Server at localhost.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/_pm_ex3.html.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.jdt.core/1097690958.index
.metadata/.plugins/org.eclipse.jdt.core/1199826107.index
.metadata/.plugins/org.eclipse.jdt.core/1419070550.index
.metadata/.plugins/org.eclipse.jdt.core/1475717011.index
.metadata/.plugins/org.eclipse.jdt.core/1497603550.index
.metadata/.plugins/org.eclipse.jdt.core/1525087677.index
.metadata/.plugins/org.eclipse.jdt.core/1539866187.index
.metadata/.plugins/org.eclipse.jdt.core/154450207.index
.metadata/.plugins/org.eclipse.jdt.core/1562249147.index
.metadata/.plugins/org.eclipse.jdt.core/1654467137.index
.metadata/.plugins/org.eclipse.jdt.core/1834514138.index
.metadata/.plugins/org.eclipse.jdt.core/1841280308.index
.metadata/.plugins/org.eclipse.jdt.core/194205294.index
.metadata/.plugins/org.eclipse.jdt.core/2215088289.index
.metadata/.plugins/org.eclipse.jdt.core/2221491804.index
.metadata/.plugins/org.eclipse.jdt.core/2503392314.index
.metadata/.plugins/org.eclipse.jdt.core/2561179376.index
.metadata/.plugins/org.eclipse.jdt.core/2721455097.index
.metadata/.plugins/org.eclipse.jdt.core/287530041.index
.metadata/.plugins/org.eclipse.jdt.core/2911469802.index
.metadata/.plugins/org.eclipse.jdt.core/2997567257.index
.metadata/.plugins/org.eclipse.jdt.core/30881555.index
.metadata/.plugins/org.eclipse.jdt.core/3219339873.index
.metadata/.plugins/org.eclipse.jdt.core/3308343782.index
.metadata/.plugins/org.eclipse.jdt.core/3314433690.index
.metadata/.plugins/org.eclipse.jdt.core/3506239428.index
.metadata/.plugins/org.eclipse.jdt.core/3551913977.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/2001196622.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/614397278.index
.metadata/.plugins/org.eclipse.wst.server.core/modules.xml
.metadata/.plugins/org.eclipse.wst.server.core/publish.xml
.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.server.tomcat.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.core.prefs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp-data.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.policy
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.properties
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/context.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/server.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/tomcat-users.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2017-02-01.txt
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/META-INF/MANIFEST.MF
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/WEB-INF/classes/am/MyServlet1.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/WEB-INF/classes/am/MyServlet2.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/WEB-INF/classes/am/MyServlet3.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/WEB-INF/classes/pm/MyServlet4.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/WEB-INF/classes/pm/MyServlet5.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/WEB-INF/classes/pm/MyServlet7.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/WEB-INF/classes/pm/MyServlet7_1.class
.metadata/.plugins/org.eclipse.core.resources/.history/e9/b03fe43827e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/e9/d0e63f6843e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/ea/801124b44ce800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/ee/10c09eb54be800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/ef/30b7587925e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/ef/f0610b153fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/f0/602bc65d43e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/f0/d02b4de54be800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/f2/c0377bd02ce800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/f4/607d935720e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/f5/906fa3b62fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/f7/60c6e2d324e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/f8/70bc5f8e2de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/f8/f09db22442e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/fb/a0f7a80d4ae800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/fb/c03508a027e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.projects/0201/.indexes/5b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/0201/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/0201/.indexes/e4/2c/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/0201/.indexes/e4/fd/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/0201/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/0201/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/14/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/am/ex1.html
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/pm/ex1.html
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/pm/ex2_checkbox.html
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/pm/ex3.html
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/pm/ex3_login.html
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/0201/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/ROOT/WEB-INF/web.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdx
.metadata/.plugins/org.eclipse.core.resources/.history/c2/c0a452f941e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/c6/9067534b25e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/c9/c0ce9cbf3ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/cc/4093a2924ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/d/f010eba93ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/d0/4091adfb2ce800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/d1/60a6a02f3fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/d1/9062fa0528e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/d2/609764f947e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/d3/605ca40d4de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/d3/906bb98a3fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/d6/20280db925e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/db/703b28d13ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/e0/507921e62be800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/e2/9022cca52de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/e3/20e1e24843e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/e4/508d7da14be800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/e4/f0f1e6eb1fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/e6/b0eedab941e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/e7/601db06e42e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/f5/50e2b72529e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/fe/70fbde4841e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.projects/0201/.indexes/5b/2c/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/0201/.indexes/5b/fd/history.index
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
.metadata/.plugins/org.eclipse.core.resources/.history/96/006b9dbf3ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/98/20f6e4eb1fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/99/00f5880042e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/99/10fb6ee641e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/9a/d0aa12273ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/a/606488494de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/a2/b05532eb24e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/a5/f0caa16b4de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/a7/e08b3bcc24e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/ab/b0d9cde73fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/ad/40573fb525e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/b1/10c46f8425e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/b3/b0dde31e26e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/b4/409e97e62ce800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/b6/40369ba527e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/bd/f0faa0614be800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/be/a00c38c53ee800161e43a1f0a3fa6839
Servers/.project
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/Tomcat v8.0 Server at localhost-config/catalina.policy
Servers/Tomcat v8.0 Server at localhost-config/catalina.properties
Servers/Tomcat v8.0 Server at localhost-config/context.xml
Servers/Tomcat v8.0 Server at localhost-config/server.xml
Servers/Tomcat v8.0 Server at localhost-config/tomcat-users.xml
.metadata/.plugins/org.eclipse.core.resources/.history/7f/d0a7cb7926e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/7f/f068af8627e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/8/1091a9652ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/80/40acdd4a2ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/82/f0e754bf4ce800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/84/b04c476b3ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/8a/801c3d1a27e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/8b/70c76f134ce800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/8c/50c9d9de3ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/8c/90b3f31343e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/8f/d0db655126e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/93/f0d6ac142ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/75/90d7297c30e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/77/50dce7eb1fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/79/b05a96c022e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/7a/80cb935720e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/7d/806942463fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/7f/20cd85ef2be800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/68/6092e5eb1fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/7/6020c6804ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/71/d0f693ec4be800161e43a1f0a3fa6839
RemoteSystemsTempFiles/.project
.metadata/.plugins/org.eclipse.core.resources/.history/63/105b39ce4de800161e43a1f0a3fa6839
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1/3021e4383ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/18/6071da884ae800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/1c/40bd222828e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/1c/c0db0d1020e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/1d/10ebf3404ae800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/21/90f603902de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/24/10771c5225e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/25/003caa0e3fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/25/402f935720e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/27/b046db1b28e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/28/f0a0dcec3de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/2a/0030f8dd4be800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/2d/50ccf7ad4ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/2e/2067e7eb1fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/2e/30b1aa0e3fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/2f/30a9a2de3de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/3f/302ae2a44de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/41/606155bc3de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/41/90abc0943ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/49/10e39f2f3fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/4a/b01c31d542e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/4e/10ba925720e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/5/009094393fe800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/5/d04ab0222de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/57/5062466b3ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/5f/809c7d954ae800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/60/b02b00092ce800161e43a1f0a3fa6839
Servers/Tomcat v8.0 Server at localhost-config/web.xml
.metadata/.plugins/org.eclipse.core.resources/.history/68/10af1d5a3ee800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/2f/e0f09ee14be800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/30/c08037c041e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/36/f0959b0120e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/3d/90f086de4de800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/3d/f06b925720e800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/3f/70a586de2ce800161e43a1f0a3fa6839
.metadata/.plugins/org.eclipse.core.resources/.history/64/d0efa7d541e800161e43a1f0a3fa6839
0201/.project
0201/.classpath
0201/.settings/.jsdtscope
0201/.settings/org.eclipse.jdt.core.prefs
0201/.settings/org.eclipse.wst.common.component
0201/.settings/org.eclipse.wst.common.project.facet.core.xml
0201/.settings/org.eclipse.wst.jsdt.ui.superType.container
0201/.settings/org.eclipse.wst.jsdt.ui.superType.name


0201/build/
*.class

.metadata/*
.recommenders/*
*/.settings/*
RemoteSystemsTempFiles/*

